@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap");

* {
  transition: all 0.5s;
}

.Volver {
  position: relative;
  top: 50px;
  margin: 30px;
  background-color: #6366f1;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  text-decoration: none;
  font-size: 30px;
  font-family: "Josefin Sans";
}

body {
  zoom: 75%;
  background-color: #9aa0a1;
}

div {
  display: grid;
  place-items: center;
  margin: auto;
}

.nav {
}

.mail {
  left: 30px;
  display: block;
  position: relative;
}

/* .pass {
  margin-top: 10px;
  display: block;
  position: relative;
  right: 100px;
} */

.pass {
  margin-top: 10px;
  display: block;
  position: relative;
  right: 190px;
}

.content {
  position: absolute;
  left: 35%;
  top: 20%;
  border: 1px solid black;
  border-radius: 10px;
  height: 500px;
  padding: 20px;
}

.content input {
  margin-top: 2px;
  width: 500px;
  border-radius: 10px;
}
/* 
.content a {
  text-decoration: none;
  margin-top: 10px;
  display: block;
  position: relative;
  left: 120px;
} */
.content a {
  display: block;
  text-decoration: none;
}

.Flex {
  display: flex;
}

button {
  margin: 30px;
  background-color: #6366f1;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 500px;
}

input {
  border: 3px solid #000000;
}

input:focus {
  margin-top: 10px;
  box-shadow: 0px 0px 8px 4px black;
  outline-color: gray;
}

hr {
  height: 2px;
  width: 70%;
  opacity: 100%;
  border: none;
  background-color: #6366f1;
}
